@font-face {
    font-family: 'FuturaStdLight';
    src: url('fonts/FuturaStdLight.woff') format('woff');
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('fonts/FuturaStdBook.woff') format('woff');
}

@font-face {
    font-family: 'FuturaStdBold';
    src: url('fonts/FuturaStdBold.woff') format('woff');
}

@font-face {
    font-family: 'FuturaStdExtraBold';
    src: url('fonts/FuturaStd-ExtraBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --main-btn-color: #0081CF;
    --main-proyect0-color: #111111;
    --main-proyect1-color: #AAAAA8;
    --main-proyect2-color: #F3AB00;
    --main-proyect3-color: #89D4D0;
    --main-proyect4-color: #FFA5B4;
    --main-proyect5-color: #2F7BAF;
    --main-proyect6-color: #060A14;
    --main-proyect7-color: #C3C3C3;
}

html {
    scroll-behavior: ;
}

body {
    background: #030303;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    color: #fff;
}

/*-----------------------------------------
---------------- Social Links -------------------
------------------------------------------*/
.social-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: transparent;
    left: 0.4em;
    bottom: 3rem;
    height: 110px;
    z-index: 4;
}

.social-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-links ul li {
    position: relative;
    margin: 5px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 60%;
    border: 1px solid #000;
    transition: .3s;
}

.social-links ul li:hover {
    transform: scale(1.2);
}

.social-links ul li a {
    width: 100%;
    height: auto;
}


.social-links ul li a i {
    font-size: 1.2em;
    margin: 0;
    color: #000;
    font-weight: 600;
}

.social-links ul li:nth-child(1) a i {
    font-size: 1.1em;
}

/*-------------------------------
------------ Nav PC -------------
--------------------------------*/
.navegation {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: -100px;
    margin: 0;
    width: 100%;
    height: 55px;
    background: #000;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    transition: .5s;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
}

.navegation.pgj {
    background: rgba(0, 0, 0, 0.9);
    height: 60px;
    top: 0;
}

.navegation.pgj ul li {
    margin-right: 2em;
}

.navegation.pgj .logo {
    font-size: 1.3em;
}

.navegation .logo {
    position: relative;
    font-size: 1.6em;
    line-height: 0.8em;
}

.navegation nav {
    position: relative;
}

.navegation ul {
    display: flex;
    flex-direction: row;
}

.navegation ul li {
    margin-right: 2em;
}

.navegation ul li a {
    font-size: 1em;
    transition: .4s;
}

.navegation ul li a:hover {
    letter-spacing: 2px;
    color: var(--main-btn-color);
}

.nav-min_logo {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 80px;
    z-index: 11;
    background-image: url(images/wolf1.png);
    background-size: cover;
    transition: transform .5s;
}

.nav-min_logo:hover {
    background-image: url(images/wolf2.png);
    transform: scale(1.1);
}

.nav-min_logo.pgj {
    visibility: visible;
}

/*---- Nav Móviles ----*/

.nav-moviles {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background: #fff;
    width: 100%;
    height: 86%;
    z-index: 0;
    justify-content: center;
}

.nav-moviles ul li a {
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
}

.nav-moviles ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav-moviles.active {
    display: flex;
    z-index: 1000;
}

.toggle-menu {
    position: relative;
    width: 1.5em;
    height: 1.4em;
    background: url(images/menu.png);
    background-size: cover;
    display: none;
}

.toggle-menu.active {
    background: url(images/close.png);
    background-size: cover;
}

.toggle-menu i {
    font-size: 1em;
    color: #fff;
}

/*-----------------------------------------
---------------- Banner -------------------
------------------------------------------*/

.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #010101;
    overflow: hidden;
    justify-content: center;
}

/*-----------------------------
------ Contenido Banner ------
------------------------------*/

.contenido-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/leon.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.contenido-banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.contenido-banner h1 {
    position: relative;
    margin-top: 4em;
    color: #fff;
    font-size: 3em;
    font-family: 'FuturaStdExtraBold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contenido-banner .typing {
    position: relative;
    display: flex;
    color: #fff;
    height: 1.3em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'FuturaStdBold';
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 1em;
}

.contenido-banner .recorrido {
    position: relative;
    color: #fff9;
    margin-top: 3em;
    margin-left: 8px;
    margin-bottom: 1em;
    font: italic 16px/1.7 georgia;
    letter-spacing: 1px;
}

.link_sobre-mi,
.link_contact {
    position: absolute;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #fff;
    font-family: 'FuturaStdBold';
    z-index: 2;
    text-transform: uppercase;
    letter-spacing: 0.20em;
}

.link_sobre-mi {
    top: 50%;
    left: 80px;
}

.link_sobre-mi::before,
.link_contact::before {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 1.5px;
    height: 15px;
    background: #ffb96c;
    content: '';
    transition: .3s;
}

.link_sobre-mi:hover::before,
.link_contact:hover::before {
    height: 22px;
}

.link_sobre-mi::after,
.link_contact::after {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    width: 1.5px;
    height: 15px;
    background: #ffb96c;
    content: '';
    transition: .3s;
}

.link_sobre-mi:hover::after,
.link_contact:hover::after {
    height: 22px;
}

.link_contact {
    top: 50%;
    right: 80px;
}

.botton-proyects {
    font-family: 'FuturaStdBold';
    letter-spacing: 3px;
    display: flex;
    width: 11em;
    height: 3.7em;
    font-size: 12px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 500;
}

.contenido-banner a:hover {
    border-color: #FFB96C;
    color: #FFB96C;
    letter-spacing: 5px;
    width: 12em;
}

/*-----------------------------------------
----------- Sección  Proyectos ------------
------------------------------------------*/
.proyects {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.proyects .card {
    display: flex;
    position: relative;
    flex-direction: row;
    width: calc(50% - 0.1px);
    height: 400px;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.card .image-proyect {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: calc(63% - 10px);
    height: auto;
    z-index: -1;
}

.card .image-proyect img {
    background-size: cover;
    width: 100%;
    height: auto;
    transition: 8s;
}

.card:hover .image-proyect img {
    transform: scale(1.1);
}

.card:hover::before {
    background: rgba(0, 0, 0, 0.45);
}

.card:nth-child(1) {
    background: var(--main-proyect5-color);
}

.card:nth-child(2) {
    background: var(--main-proyect4-color);
}

.card:nth-child(3) {
    background: var(--main-proyect3-color);
}

.card:nth-child(4) {
    background: var(--main-proyect2-color);
}

.card .info-proyect {
    position: relative;
    margin-left: 45px;
    opacity: 0;
    transition: .3s;
    text-align: start;
    left: -300px;
}

.card:hover .info-proyect {
    cursor: pointer;
    opacity: 1;
    left: 0;
}

.card .info-proyect h4 {
    font-size: 4.3em;
    line-height: 55px;
}

.card .info-proyect p {
    font-size: 1.2em;
    margin-top: 10px;
}

/*-----------------------------------------
---------------- Section Sobre Mí -------------------
------------------------------------------*/
section .sobre-mi {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'FuturaStdExtraBold';
}

/*-----------------------------------------
----------- Sección  Contacto ------------
------------------------------------------*/
.contact {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #010101;
    overflow: hidden;
    justify-content: center;
}

.contenido_contact {
    position: relative;
    display: flex;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/captura3.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.links-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 6em;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links-contact h2 {
    text-align: center;
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'FuturaStdExtraBold';
    letter-spacing: 1px;
}

.contenido_contact p {
    margin-top: 1em;
    position: relative;
    font-size: 1.3em;
    color: #FFB96C;
    font-style: italic;
}

.list-contact {
    position: relative;
    margin-top: 5em;
    width: auto;
    height: 50px;
}

.list-contact ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-contact ul li {
    position: relative;
    margin: 10px;
}

.list-contact ul li a {
    font-family: 'FuturaStdBold';
    letter-spacing: 3px;
    display: flex;
    width: 11em;
    height: 3.7em;
    font-size: 12px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 500;
}

.list-contact ul li a:hover {
    border-color: #FFB96C;
    color: #FFB96C;
    letter-spacing: 5px;
    width: 12em;
}

/*-----------------------------------------
---------------- Responsive -------------------
------------------------------------------*/
@media (max-width: 760px) {
    .navegation nav {
        display: none;
    }

    .toggle-menu {
        display: block;
    }
}
